@using Services.ConnersSelfEvaluationServiceNS
@using Services.ClipboardServiceNS
@using System.Text.Json
@using PsychologicalTesting.Services.ConnersSelfEvaluationServiceNS.FileManipulator

@page "/fetchdata"
@inject HttpClient Http
@inject IConnersSelfEvaluationService ConnerService
@inject IClipboardService ClipboardService
@inject IFileManipulatorService FileManipulatorService

<PageTitle>Upload</PageTitle>

@if (_snapshot == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>
        <label>
            <InputFile OnChange="@LoadFile" />
        </label>
    </p>

    <div @onclick="CopyToClipboard">
        <span class="oi oi-clipboard oi-lg">Copy to clipboard</span>
    </div>
    <pre>
        @if (_snapshot.States != null)
        {
            @JsonSerializer.Serialize(_snapshot.States.LastOrDefault(), new JsonSerializerOptions() { WriteIndented = true })
        }
    </pre>
}

@code {
    private Snapshot? _snapshot;

    private  void LoadFile(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles();
        var file = files.FirstOrDefault();
        FileManipulatorService.ReadFromStream(file);
    }

    protected override Task OnInitializedAsync()
    {
        _snapshot = ConnerService.Init();
        return Task.CompletedTask;
    }

    private void CopyToClipboard()
    {
        var json = JsonSerializer.Serialize(_snapshot?.States?.LastOrDefault(), new JsonSerializerOptions()
        {
            WriteIndented = true
        });

        ClipboardService.CopyToClipboard(json);
    }
}